@import url('https://fonts.googleapis.com/css?family=Cookie|Lato&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', Arial, sans-serif, Times, serif;
  }
  
  body {
    background-color: #fafafa;
  }
  
  header {
    background-color: #913710;
    height: 50px;
  padding: 10px;
  font-size: 1.5em;
}
header a {
    color: #fafafa;
    text-decoration: none;
  }
  
  header a:hover {
    color: #DAB37E;
  }
  
  nav {
    overflow: hidden;
  }
  
  nav li {
    list-style: none;
    float: right;
    margin-right: 20px;
  }
  
  main {
    padding: 25px;
    color: #424242;
  }
  
  li {
    list-style: none;
  }
  
  main>li {
    margin: 0px 0px 30px 0px;
  }
  #sales-lists, #cookie-tosser-lists {
  overflow: hidden;
  width: 1350px;
  margin: 10px auto;
}

#nav-logo {
  float: left;
  font-size: 30px;
  font-weight: normal;
}

.centered {
  display: block;
  text-align: center;
  margin: auto;
}

.logo {
  padding: 25px;
  font-size: 4em;
}

.salmon-fish {
  font-family: 'Cookie', cursive, Arial, sans-serif, Times, serif;
}


table {
  border: 5px solid #913710;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  /* border-collapse: collapse; */
  border-spacing: 0;
}

th {
  border-bottom: 2px solid #913710;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.1em;
}

td {
  margin: 0;
  padding: 2px;
}

tr:last-child>td:last-child {
  color: #0B6340;
  font-weight: bold;
  font-size: 1.1em;
}

th:first-child, td:first-child {
  border-right: 2px solid #913710;
}